<template>
  <div class="flex py-4" @click="goto(id)">
    <div class="mr-4 md:w-48 w-60 basis-1/3 md:basis-1/4 lg:basis-1/5">
      <nuxt-link :to="slug">
        <img
          :src="require(`~/assets/img/${image}`)"
          class="h-20 md:h-32 w-60 rounded-lg object-cover"
        />
      </nuxt-link>
    </div>
    <div class="basis-2/3 md:basis-full">
      <div class="text-lg md:text-2xl text-blue-900 font-bold">
        <nuxt-link :to="slug">{{ title }}</nuxt-link>
      </div>
      <div class="hidden md:flex text-md md:text-lg">{{ excerpt }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: Number,
      default: null,
    },
    slug: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: 'Article Title',
    },
    excerpt: {
      type: String,
      default: 'Excerpt',
    },
    image: {
      type: String,
      default: '1.jpeg',
    },
  },
  methods: {
    goto(id) {
      return true
    },
  },
}
</script>
