<template>
  <div class="bg-sky-900 sticky top-0">
    <div class="container mx-auto flex items-center sm:pt-0">
      <div class="w-9 mx-4 md:hidden">&nbsp;</div>
      <div class="my-3 mr-6 basis-full flex justify-center md:justify-start">
        <nuxt-link to="/"
          ><img src="~/assets/img/header_yesdok.png" class="h-16 basis-full"
        /></nuxt-link>
      </div>
      <div class="hidden md:flex">
        <div
          v-for="item in navigation"
          :key="item.href"
          class="flex mx-6 uppercase font-bold text-xl text-neutral-100"
        >
          <nuxt-link :to="item.href">{{ item.name }}</nuxt-link>
        </div>
      </div>
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button" @click="toggleMenu">
          <svg
            class="w-9 h-9 text-gray-50 mx-4"
            x-show="!showMenu"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <div
      :class="[
        'md:hidden mobile-menu flex flex-col fixed basis-full left-0 right-0 mx-auto bg-sky-900 transition ease-in-out origin-top',
        openMenu ? 'scale-y-100' : 'scale-y-0',
      ]"
    >
      <div
        v-for="item in navigation"
        :key="item.href"
        class="flex mx-auto px-4 py-4 basis-full uppercase font-bold text-xl text-neutral-100 border-b-2 left-0 right-0 border-yellow-200"
      >
        <nuxt-link :to="item.href">{{ item.name }}</nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      openMenu: false,
      navigation: [
        { name: 'Beranda', href: '/', current: true },
        { name: 'Artikel', href: 'artikel', current: false },
        { name: 'Kategori', href: 'kategori', current: false },
      ],
    }
  },
  methods: {
    toggleMenu() {
      this.openMenu = !this.openMenu
    },
  },
}
</script>
