<template>
  <div>
    <div class="bg-slate-600">
      <div class="container mx-auto py-6 flex flex-col md:flex-row">
        <div class="basis-1/4 p-4 text-slate-50">
          <div class="flex justify-center md:justify-start">
            <img src="~/assets/img/header_yesdok.png" class="h-16" />
          </div>
          <div class="mt-4 text-center md:text-left">
            YesDok adalah layanan ehealth yang terjangkau dengan platform mobile
            yang mudah digunakan dan tangguh. Menembus 17.504 pulau dan 260 juta
            pengguna di Indonesia.
          </div>
        </div>
        <div class="basis-1/4 p-4 text-slate-50">
          <div class="text-2xl mb-4 text-center md:text-left">Alamat</div>
          <div class="text-center md:text-left">
            PT. Yes Dok Indonesia,<br />
            Ruko Kirana Boutique <br />
            Jl. Boulevard Gading Raya Blok F3 <br />
            No.11 <br />
            Jakarta 14240 <br />
          </div>
        </div>
        <div class="basis-1/4 p-4 text-slate-50">
          <div class="text-2xl mb-4 text-center md:text-left">Kontak</div>
          <div class="text-center md:text-left">
            Corporate info: info@yesdok.com
          </div>
        </div>
        <div class="basis-1/4 p-4 text-slate-50">
          <div class="text-2xl mb-4 text-center md:text-left">Follow Us</div>
          <div class="">
            <div class="text-center md:text-left">
              <a target="_blank" href="https://facebook.com">Facebook</a>
            </div>
            <div class="text-center md:text-left">
              <a target="_blank" href="https://instagram.com">Instagram</a>
            </div>
            <div class="text-center md:text-left">
              <a target="_blank" href="https://youtube.com">Youtube</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-slate-800">
      <div class="container mx-auto py-3 text-slate-50 flex justify-center">
        <div class="text-sm md:text-md">
          COPYRIGHT ©2022 ALL RIGHTS RESERVED BY YesDok
        </div>
      </div>
    </div>
  </div>
</template>
