<template>
  <div>
    <MainHeader />
    <Nuxt />
    <MainFooter />
  </div>
</template>
<script>
import MainFooter from '~/components/MainFooter'
import MainHeader from '~/components/MainHeader'

export default {
  components: {
    MainHeader,
    MainFooter,
  },
}
</script>
