<template>
  <div class="bg-orange-50">
    <div class="container mx-auto pb-8 pt-2 max-w-4xl px-4 md:px-0">
      <div class="text-slate-600">
        <nuxt-link to="/" class="underline">Beranda</nuxt-link>
        <span> > </span>
        <nuxt-link to="artikel" class="underline">Artikel</nuxt-link>
      </div>
      <div v-if="$isAMP" class="flex justify-center my-8">
        <amp-img
          :src="require(`~/assets/img/${article.image}`)"
          class="md:h-72 rounded-lg"
        />
      </div>
      <div v-else class="flex justify-center my-8">
        <img
          :src="require(`~/assets/img/${article.image}`)"
          class="md:h-72 rounded-lg"
        />
      </div>
      <div class="mb-2 flex">
        <div class="bg-red-500 rounded-lg px-3 py-1 text-slate-50">
          <nuxt-link
            :to="{ path: 'artikel', query: { kategori: article.category } }"
            >{{ article.category }}</nuxt-link
          >
        </div>
      </div>
      <div class="text-4xl text-blue-900 font-bold mb-2">
        {{ article.title }}
      </div>
      <div class="text-slate-600">
        Ditulis oleh <span class="text-lg font-bold">{{ article.author }}</span>
      </div>
      <div class="text-slate-600 mb-6">
        Diterbitkan
        <span class="font-bold">{{ article.published }}</span>
      </div>
      <div class="text-lg text-gray-800">{{ article.content }}</div>
    </div>
  </div>
</template>

<script>
export default {
  asyncData({ params, store }) {
    const slug = params.slug
    const article = store.getters.find(slug)
    return { article, slug }
  },
  data() {
    return {
      article: null,
      slug: '',
    }
  },
  amp: 'hybrid',
  ampLayout: 'default.amp',
  head() {
    return {
      title: `${this.article.title} - YesDok`,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: `${this.article.excerpt}`,
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `YesDok, artikel, kesehatan`,
        },
      ],
    }
  },
}
</script>
<style lang="stylus" scoped></style>
