<template>
  <div class="bg-orange-50">
    <div class="container mx-auto py-6 px-4 md:px-0">
      <div>
        <h1 class="text-3xl font-bold text-blue-900">
          <span v-if="!category">Semua Artikel</span>
          <span v-else>Artikel Kategori: {{ category }}</span>
        </h1>
      </div>
      <div>
        <article-item
          v-for="article in articles"
          :id="article.id"
          :key="article.id"
          :slug="article.slug"
          :title="article.title"
          :excerpt="article.excerpt"
          :image="article.image"
        ></article-item>
      </div>
    </div>
  </div>
</template>

<script>
import ArticleItem from '~/components/ArticleItem.vue'

export default {
  amp: 'hybrid',
  ampLayout: 'default.amp',
  components: {
    ArticleItem,
  },
  asyncData({ params, query, store }) {
    let articles = store.state.articles
    if (query && query.kategori) {
      const category = query.kategori
      if (category) {
        articles = store.getters.findCategory(category)
        // alert(JSON.stringify(articles))
        // console.log(articles)
        return { articles, category }
      }
    }
    // if (!articles) {
    //   articles = store.state.articles
    // }
    return { articles }
  },
  data() {
    return {
      category: '',
      articles: [],
    }
  },
  head: {
    titleTemplate: 'Artikel - YesDok',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'YesDok Pusat Artikel Kesehatan Terkini',
      },
      {
        hid: 'keywords',
        name: 'keywords',
        content: `YesDok, artikel kesehatan, kesehatan, artikel`,
      },
    ],
  },
  computed: {
    // articles() {
    //   return this.$store.state.articles
    // },
  },
  watchQuery: true,
  methods: {},
}
</script>
<style lang="stylus" scoped></style>
