<template>
  <div class="bg-orange-50">
    <div class="py-6 px-3 bg-cyan-600">
      <div
        class="text-2xl md:text-4xl uppercase font-bold text-blue-50 flex justify-center text-center md:text-left"
      >
        <h1>YesDok Pusat artikel Kesehatan Terkini</h1>
      </div>
    </div>
    <div class="container mx-auto py-6 px-4 md:px-0">
      <div>
        <h1 class="text-3xl font-bold text-blue-900">Artikel Terbaru</h1>
      </div>
      <div>
        <article-item
          v-for="article in articles"
          :id="article.id"
          :key="article.id"
          :slug="article.slug"
          :title="article.title"
          :excerpt="article.excerpt"
          :image="article.image"
        ></article-item>
      </div>
    </div>
  </div>
</template>

<script>
import ArticleItem from '~/components/ArticleItem.vue'

export default {
  amp: 'hybrid',
  ampLayout: 'default.amp',
  components: {
    ArticleItem,
  },
  asyncData({ params }) {
    return {}
  },
  data() {
    return {}
  },
  head: {
    titleTemplate: 'Beranda - YesDok',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'YesDok Pusat Artikel Kesehatan Terkini',
      },
      {
        hid: 'keywords',
        name: 'keywords',
        content: `YesDok, artikel kesehatan, kesehatan`,
      },
    ],
  },
  computed: {
    articles() {
      return this.$store.state.articles
    },
  },
  methods: {},
}
</script>
<style lang="stylus" scoped></style>
