<template>
  <div class="bg-orange-50">
    <div class="container mx-auto pt-6 pb-12 px-4 md:px-0">
      <div class="text-3xl font-bold text-blue-900 mb-4">Semua Kategori</div>
      <div class="flex flex-col md:flex-row">
        <div
          v-for="category in categories"
          :key="category"
          class="text-xl my-2 mx-3 font-bold text-slate-50 flex"
        >
          <div class="bg-red-500 px-4 py-2 md:py-1 rounded-lg">
            <nuxt-link
              :to="{ path: 'artikel', query: { kategori: category } }"
              >{{ category }}</nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  amp: 'hybrid',
  ampLayout: 'default.amp',
  head: {
    titleTemplate: 'Kategori - YesDok',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'YesDok Pusat Artikel Kesehatan Terkini',
      },
      {
        hid: 'keywords',
        name: 'keywords',
        content: `YesDok, artikel kesehatan, kesehatan, kategori`,
      },
    ],
  },
  computed: {
    categories() {
      return this.$store.getters.categories
    },
  },
}
</script>
<style lang="stylus" scoped></style>
